<div class="container">
    
    <div class="page-header">
      <h1>My Contract Alerts</h1>
      {{User.firstname}}
    </div>
    
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        
    </div>
    

    
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-repeat="alert in alertArr" >
        
        <div class="allAlertsHeaders" >
            
            <h3>{{alert.name}}</h3>
            <div class="allAlertsItem">
            <p>{{recipe.description}}</p>
</div>
        </div>
        
    </div>
    
    
</div>
