
<form class="createForm">
    <h1>Create New Reminder</h1>

  Supplier Name:<br>
  <input type="text" ng-model="newAlert.supplierName" name="suppliername" /> 
  {{supplierName}}
  <br><br>
Name of reminder:<br>
<input type="text" ng-model="newAlert.description" placeholder=" limit your reminder description to 20 characters"name="description" /> 
  {{description}}<br><br>
  Select a Category:
  <select name="categories" ng-model="newAlert.category">

    
  </select>

  Name Of Contact:<br>
  <input type="text" ng-model="newAlert.pointOfContact" name="pointOfContact" />


  <!--<select name="category">
    <option value="insurance">Insurance</option>
    <option value="cellular">Cellular</option>
    <option value="internet">Internet</option>
    
  </select>

  
            "description":"contract renewal", 
            "category":"insurance",
            "pointOfContact":"Nir",
            "phone":"088591123",
            "alertDate":"08-02-2017",
            "contractScanUrl":"https://s-media-cache-ak0.pinimg.com/736x/75/f9/27/75f9271bf1008490a5bd3dfe2b5252d8--photography-marketing-photography-business.jpg",
            "fileName"-->
  <br><br>
  <input type="text" name="lastname">
</form>
<!-- recipe by Nir-->
<!--This view is responsible for showing, updating and deleting a recipe-->
<div class="createForm">
    <h1>Create New Contract Reminder</h1>
<div class="container">

  <div class="page-header">
    <h1>{{alert.supplierName + "-"+alert.description}}</h1>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="supplierName">Name of Supplier:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="supname" placeholder="Enter supplier's name" ng-model="alert.supplierName">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="desc">Description:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="desc" placeholder="Enter description of the reminder" ng-model="alert.description">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="categories">Category:</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="5" id="categoriess" ng-model="alert.category"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="steps">Steps:</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="5" id="steps" ng-model="recipe.steps"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="imageUrl">Image URL:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="imageUrl" placeholder="Enter image URL" ng-model="recipe.imageUrl">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="pull-right">
            <button type="summit" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="summit" class="btn btn-success" ng-click="create()">Create</button>
          </div>
        </div>
      </div>
    </form>
  </div>


  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img ng-src="{{recipe.imageUrl}}" class="img-responsive block-center" alt="Image">
  </div>


</div>
</div>
